__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-selfcheck.json
.egg
.eggs
*.egg-info
.installed.cfg
*.egg-link
node_modules
npm-debug.log
.yarn-integrity
.env
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.swp
*.swo
*~
.vscode
.idea
.pytest_cache
.coverage
htmlcov
.covers
docs/_build
.nyc_output
coverage/
build/
dist/
*.tgz
*.zip
.pyre
.mypy_cache
.hypothesis
.tox
noxfile.py
site-packages/
.DS_Store
Thumbs.db